body{
    background: linear-gradient(to bottom, rgb(165, 172, 243) , rgb(255, 255, 255)); 
    /*  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1), url(../imatges/fondo.gif);  */     
    margin: auto;
    padding:40px;
    display: flex;
    font-family: Verdana, sans-serif;
    color: #192666;    
}

h1{
    text-align: center;
    color: white;
}

.container{
    border-radius: 25px;
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 770px;
    margin: auto;    
}

header{
    height: 100px;
    border-radius: 25px 25px 0 0 ;
    background-color: #233C9B;
    background-image: url(../imatges/gat.png), url(../imatges/dau.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 5% center, right 5% center; 
    background-size: 100px, 80px;    
}

nav{
    display: flex;
    flex-grow: 1;    
    align-items: center;  
    background-color: #0c194e;
}

nav a{
    flex-grow: 1;
    text-align: center;  
    padding: 10px;
    border-radius:25px;
    color: #B5c4e3;
    background-color:#253575;
    text-decoration: none;
}

a:hover {
    color: #FF9000;
    background-color: white;
    border-radius: 25px;
}

.mainBox{
    /*border: 1px solid black;*/     
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;     
}

article{
    /* display: flex;
    flex-direction: row; */
    background-color: rgb(255, 255, 255);
    width: 530px;
    float: left;
    width: 770px;    
}

article h2{
    background-color: #DEE5FD;
    color: #192666;
    border-top-left-radius: 25px;
    padding: 10px;    
}
hr{color: #426bf0;}

.menuVertical{
    width: 530px;
}
ul li {
    list-style-type: none;
    float: left; 
    font-size: 13px;
    padding-right: 10px;
    padding-left: 0px;
    color: #B5c4e3;
    
}
section{
    /* border: 1px solid black; */
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    width: 530px;
    float: left;
    flex-direction: column;
    flex-grow: 5;        
}

.noticias{
    display: flex;
    flex-direction: column;
    /* flex-grow: 3;  */   
}

p{padding: 15px;}

aside{
    width: 200px;
    background-color: #DEE5FD; 
    color: #192666;   
    /* flex-grow: 3; */
    display: flex;
    flex-direction: column;    
    border-radius: 25px;
    float: left;
}
h3{ padding: 15px;}
.sobremi{width: 100%; font-size: 10px;}
.sobremi img{width: 50px; float:left;padding-right: 10px}
.sobremi p {float:left; padding-left: 10px;}

aside .categorias a{    
    padding-left:30px;     
    border-bottom: 1px solid white;
    background-image: url("../imatges/icono_elemento.gif");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
}

aside .categorias a:hover{    
    padding-left:30px;     
    border-bottom: 1px solid white;
    background-image: url("../imatges/icono_elemento_seleccionado.gif");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
}


footer {
    background-color: #A0B9F3; 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #233C9B;
}


.left{width: 50%;float: left;}
.right{width: 50%; float: left;}

input{width: 100%;margin-top:  15px;}    
input:focus {border: 2px solid #E6B700;background: #f3f3f3}

.direccion1{width: 45%;float: left;}
.direccion2{width: 50%;float: right;}

select{width: 100%;}
.fijo{width: 48%;float: left;}
.movil{width: 48%; float: right;}

span{color: red;}
#boton{
	float:right; 
	width: auto; 
	background-color: #b3aeae; 
	padding: 5px; 
	font-size: 16px;
	background-image: url(img/flecha.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: right;
	padding-right: 30px;
}
hr{width: 100%}
fieldset{padding: 25px; border: none;}
fieldset:hover{background-color: #e0eff3;}
fieldset .comentario{display: none;}
fieldset:hover .comentario{display: block;} 
.vacio{height: 20px; width: 100%; background-color: #efbc60; padding-top: 50px;}
.grupo{width: 30%; height: 100%; float: left; }
.preguntas{width: 65%; float: left; padding-top: 20px;}
.preguntas2 {width: 40%; float: left; padding-top: 20px;}
.comentario {width: 20%; float: left; padding-top: 10px; padding-left: 25px;}
.comentario p{padding-right: 0px;margin-right: -60px;}

progress{width: 100%; height: 30px;}
