body{
	margin:auto;
	background-color: lightblue;
	text-align: center;
}

.container{padding: 0 10%;}

h1{
	text-transform: uppercase;
	font-size: 3.7em;
}
h2{	font-size: 1.9em;}


#headinvierno{
	background-image:url(../img/invierno3.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 250px;
	padding: 20px;
	color: #fcf9f9;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

#headprimavera{
	background-image:url(../img/primavera1.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 250px;
	padding: 20px;
	color: #3f5821;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

#headverano{
	background-image:url(../img/verano1.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 250px;
	padding: 20px;
	color: #eb0808;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

#headotono{
	background-image:url(../img/otono1.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 250px;
	padding: 20px;
	color: #006c74;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}


#cuerpo{
	padding: 70px;
}
#cuerpo img{width: 80%;}

#cuerpoinvierno, #cuerpoprimavera, #cuerpoverano, #cuerpootono{
	padding:0 15%;

}




#pieinvierno{
	background-color: #57b7b1;
	height: 100px;
	padding: 30px;
}

#pieprimavera{
	background-color: #9a963e;
	height: 100px;
	padding: 30px;
}

#pieverano{
	background-color: #ce3616;
	height: 100px;
	padding: 30px;
}

#pieotono{
	background-color: #752b10;
	height: 100px;
	padding: 30px;
}