body{
	margin:auto;
	background-color: #cbddd9;
	text-align: center;
	color: #111;
}

#head{
	background-image:url(../img/head.jpg);
	background-repeat: no-repeat;
	background-size: cover;	 
	/* background-color: #cbddd9; */
	height: 250px;
	padding: 20px 0px;
	color:black;
	/* text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); */
}

#cuerpo{	
	width: 100%;
	text-align: left !important;
	min-height: 400px;	
}

#pie{
	background-color: #aa4e4e;
	padding: 30px; 
	height: 200px;
	color: #fcf9f9;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
		
}


#cuerpo img{
	width: 80%;	
	height: 500px;
	padding:30px 0px;
	text-align: center!important;
}

#home{
	background-image: url("../img/newspaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: #86afa6; */
	height: 500px;
	color:rgb(49, 43, 36);
	padding:100px;
	font-weight: bold;
	font-size: 1.3em;
	
}
#home h1{	
	padding: 15px;
}

.red{color: red}

.green{color: green}

img{
	width: 100px;	
	padding:30px 0px;
	text-align: center!important;
}
.line{float: left; margin: auto; text-align: center}

.galeria{	
	height: 200px;
	padding: 30px;
	
}
.fotoYtitulo{
	float: left;	
	text-align: center;	
	padding: 50px;
}
.fotoYtitulo img{
	width: 250px;
	height: 250px;
}


h1{
	text-transform: uppercase;
	font-size: 3.7em;
	color: #aa4e4e;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	padding: 20px;
}
h2{	font-size: 1.9em;}

.container{
	padding: 0 10%;
	width: 100%;	
	overflow: auto;	
}
.formContainer{
	padding: 0 30%;
	width: 100%;	
	overflow: auto;

}
.welcome{padding:8%}

.sidebar{
	width: 30%;
	float: left;

}
.noticias{
	width: 60%; 
	float: left; 
	text-align: justify;}

.fotoArticulo{
	float: right;
	padding: 0 0 30px 30px;

	width: 200px !important;
}

form{
	text-align: left !important;	
	margin: auto;
	
}

.login{width:50%}
input{width: 100%;}
button{background-color: #aa4e4e; color:#ffffff;padding: 10px; border: none;}
button:hover{ color:#8ae6e9;padding: 10px; border: none;}

#menu{
	width: 20%;
	height: 550px;
	padding: 30px;
	background-color: rgb(255, 212, 71);
	opacity: 0.8;
	float: left;
	text-align: left;
	color: black;
	overflow: auto;	
}
#logo img{
	width: 10%;	
	padding:0px 0px 30px 30px;
	float: left;
	
}
table{padding: 10px;margin: auto}
td{padding:10px; margin: auto}
input.radioBtn{width: 50px}

div#mainBox{		
	padding: 20px 30px 20px 30px;
	height: 550px;
	width: 80%;
	margin: 0px 50px;
	overflow: auto;	
}

/**************** nav ***************/
#nav{width: 100%; margin:0 !important}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color:#aa4e4e;	
}

li {float: left;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {background-color: #111;}

.fecha,  .username{
	float: right;
	padding: 12px;
	color: white;
}

.left{align-content: left}

/******** PAGINACION ********/

.pagination button {
    color: black;
    float: left;
    margin: 10px !important;
    text-decoration: none;
	/* transition: background-color .3s; */
	background-color: transparent !important;
}

/* .paginationbtn .active {
    background-color: dodgerblue;
	color: white;	
}

.pagination a:hover:not(.active) {background-color: #ddd;}
 */
