body{
    background-color: rgb(190, 211, 208);
    padding: 10%;
    margin: auto;
}

h1{text-align: center; color: rgb(250, 3, 3);}
h2{text-align: center; color: rgba(1, 4, 148, 0.836);}
h4{color: rgba(1, 4, 148, 0.836);}

#resultado{width: 50%; color: blue; text-align: right;font-size: 20px;}

.mainTitle{
    background-color:rgba(207, 206, 119, 0.836);
    padding: 40px;
}
 
.container{
    background-color: cornsilk;
    width: 100%;
    height: 450px;
    margin: auto;
}
form{
    padding: 20px 150px;
}
.newProduct{
    background-color:transparent;
    padding: 50px ;
    float: left;
 }

.divIMG{
    background-color: transparent;
    width: 45%; 
    height: 400px; 
    padding: 0px;
    float: right;
}

img{width: 80%; padding: 39px; max-height: 350px; }

